:root {
}

.primary-container {
    flex-grow: initial;
    background-color: rgb(243, 229, 215);
    border-left-color: rgba(60, 147, 180, 0);
    border-right-color: rgba(60, 147, 180, 0);
    border-top-color: rgba(60, 147, 180, 0);
    border-bottom-color: rgba(60, 147, 180, 0);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 80px;
    -unity-font-style: italic;
    color: rgb(255, 255, 255);
    -unity-text-align: upper-center;
    -unity-text-outline-width: 2px;
    -unity-text-outline-color: rgb(0, 0, 0);
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.base-text {
    -unity-font-definition: url("project://database/Assets/Game%20Assets/Fonts/OdibeeSans-Regular.ttf?fileID=12800000&guid=94c91e133c0f88c438ef55128a1cd703&type=3#OdibeeSans-Regular");
}

.center {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.menu-button {
    background-color: rgb(41, 153, 201);
    -unity-font-definition: url("project://database/Assets/Game%20Assets/Fonts/OdibeeSans-Regular.ttf?fileID=12800000&guid=94c91e133c0f88c438ef55128a1cd703&type=3#OdibeeSans-Regular");
    font-size: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 325px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.active {
    background-color: rgb(169, 206, 192);
}

.stat-container {
    flex-grow: 1;
    flex-direction: row;
    margin-right: 20px;
}

.stat-name {
    background-color: rgb(17, 223, 45);
    -unity-font-definition: url("project://database/Assets/Game%20Assets/Fonts/OdibeeSans-Regular.ttf?fileID=12800000&guid=94c91e133c0f88c438ef55128a1cd703&type=3#OdibeeSans-Regular");
    font-size: 30px;
    -unity-font-style: bold;
    color: rgb(255, 250, 250);
    -unity-text-align: upper-center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.stat-value {
    background-color: rgb(0, 0, 0);
    -unity-font-definition: url("project://database/Assets/Game%20Assets/Fonts/OdibeeSans-Regular.ttf?fileID=12800000&guid=94c91e133c0f88c438ef55128a1cd703&type=3#OdibeeSans-Regular");
    color: rgb(255, 250, 250);
    font-size: 30px;
    -unity-text-align: upper-center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
